* {
  margin: 0px;
  padding: 0px;
}

#header {
  position: sticky;

  top: 0px;
  z-index: 10;
}
.navbar {
  background-color: white;
  padding: 30px;
  display: flex;
  /* border: solid blue 1px; */
  padding: 5px;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 10px 2px 10px rgba(0, 0, 0, 0.753);
}

.banner {
  position: relative;
}
.center {
  position: absolute;
  top: 29%;
  left: 41%;
  color: beige;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar_link a:hover {
  text-decoration: underline;
}
.navbar_link-logo {
  font-size: 25px;
  font-weight: bold;
  font-family: monospace;
  margin: 0px 90px 0px 5px;
}
.navbar_items {
  display: flex;
  font-size: 20px;
  font-family: sans-serif;
}
.navbar_link a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 0px 25px;
  /* margin-right: 50px; */
}
.navbar_link {
  margin: 0px 10px 0px 10px;
}
.navbar_items-right {
  margin-left: auto;
}

.navbar_linkr {
  margin: 0px 2px;
  border: rgb(6, 36, 10) solid 1px;
  background-color: rgb(65, 116, 11);
  text-shadow: 1px 1px black;
  color: azure;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}
.navbar_link-toggle {
  display: none;
}

#about {
  display: flex;
  height: fit-content;
  width: 70vw;

  background: linear-gradient(to left, red 20%, blue);

  border-radius: 30px;
  padding: 20px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: rgb(0, 0, 0) 10px 10px 30px;
  color: whitesmoke;
  margin: auto;
  margin-bottom: 50px;
}
.i {
  box-shadow: rgb(0, 0, 0) 10px 10px 30px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 2px solid;
  border-color: crimson blue yellow green;
}
.smedia {
  display: flex;

  width: 30%;
  margin-bottom: 10px;

  justify-content: space-around;
}
.smedia img {
  box-shadow: 5px 0px 5px black;
  border-radius: 50px;
}

.footer {
  background: rgb(0, 0, 53);
  color: burlywood;
  padding: 10px;
  text-align: center;
}
.up {
  height: 48px;
  position: fixed;
  bottom: 0px;
  border: 2px solid red;
  border-radius: 50%;
  background-color: black;
}
.dropdown {
  display: flex;
  align-items: center;
  position: relative;
}
.dropdown-menu {
  background-color: rgba(135, 207, 235, 0.363);
  position: absolute;
  top: 35px;
  font-size: 15px;
  font-family: sans-serif;
}

.dropdown-menu li a {
  color: black;
}
.dropdown-menu li:hover {
  background-color: blue;
}
.dropdown-menu li a:hover {
  background-color: blue;
  color: white;
}
.content {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
}
.test-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 0px 20px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.966);
  color: bisque;
  font-family: monospace;
  border: 2px solid white;
  /* box-shadow: 5px 5px 20px black; */
}
.test-container {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
}
.start-test-btn {
  background-color: rgba(0, 0, 0, 0.445);
  font-size: 25px;
  padding: 0px 10px;
  border-radius: 10px;

  text-decoration: none;
  color: beige;
  border: 1px solid white;
}
.start-test-btn:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}
#tool-icon {
  position: fixed;
  left: 0px;
  top: 60px;
  z-index: 1;
  border-radius: 50%;
  background-color: skyblue;
  box-shadow: 5px 5px 5px black;
}
#tool-icon:hover {
  background-color: rgb(0, 0, 0);
  transform: translateY(5px);
}
#tool-container {
  display: none;
  position: absolute;
  height: fit-content;
  width: fit-content;
  box-shadow: black 10px 10px 10px;
  left: 0px;
}
marquee {
  background-color: maroon;
  color: white;
  font-size: 20px;
  padding: 2px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mtool-btn {
  position: absolute;
  top: 150px;
  left: 60px;
  border: none;
  padding: 3px 5px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
  color: whitesmoke;
  background-color: rgb(255, 87, 166);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 2px 2px 4px black;
}

@media only screen and (max-width: 1000px) {
  .navbar_link {
    margin: 0px 0px 5px 0px;
  }
  .center {
    left: 31%;
  }
  .navbar_items,
  .navbar {
    flex-direction: column;
    background-color: rgb(255, 255, 255);
  }
  .navbar_link-logo {
    margin: 0px 5px 10px 5px;
  }

  .navbar_items {
    display: none;
  }
  .navbar_items-right {
    margin-left: 0px;
    padding-top: 15px;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .navbar_link-toggle {
    /* z-index: 1; */
    display: initial;
    align-self: flex-end;
    position: absolute;
    top: 14px;
    cursor: pointer;
  }
  .navbar_toggleshow {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dropdown {
    border-radius: 50px;
  }
  .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.925);
    border-radius: 50px;
  }
  .dropdown-menu li a {
    color: white;
  }
  .dropdown-menu li:hover {
    background-color: black;
  }
  .test-section {
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    width: 95%;
  }
  #about {
    width: 85vw;
  }
  .test-container {
    font-size: 2rem;
  }
  marquee {
    font-size: 15px;
  }
}
.mode {
  position: sticky;
  top: 53px;
  height: 10px;
  width: 10px;
}
.register {
  background-color: white;
  text-align: center;
  width: fit-content;
  margin: auto;
  padding: 30px;
  padding-top: 10px;
}
